<html>
    <head>
        <title> loja  virtual </title>
</head>
<body>
    <header>
        <p> Email: <br>
            Senha:
        </p>
    </header>
    
    <ul>
        <h1> Cinema e Fotografia</h1>
        Ingresso
        Pipoca
        Refri
    </ul>
<br>
    <ul>
        <h1> Video 
        Entreterimento
        Câmeras
        Higlights
    </ul>
<br>
    <ul>
        <h1> Informática </h1>
        Computator
        Monitor
        Gabinete
    </ul>


<br>
        <p> Fale conosco </p>
    </body>
</html>
